packrat/lib*/
.Rproj.user
data\raw data\adler_2016\3528368.zip
data\raw data\ellison_2018\hf160-01-ibuttons.csv
data/raw data/ellison_2018/hf160-01-ibuttons.csv
data/raw data/ellison_2018/hf160-04-nitrogen.csv
points/28 05 2020.pptx
